.covid__afterLoad {
  display: flex;
}

.covid__header {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.covid__containerOfMapLegendSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
